body{
   height: 100vh;
    justify-content:center;
    align-items: center;
    background-color:rgb(255, 255, 255);
    margin: 0 ;
    font-family:sans-serif;
    display: flex;
}
.game-container{
background: white;
padding: 20px;
border-radius: 20px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
text-align: center;
}
#name{
   color:#000000;
   text-align:left;

}
#grid{
   width:50vh;
   height:50vh;
   display:grid;
   grid-template-columns: repeat(20,lfr);
   margin: 20px auto;
   background-color:#f8face;
   border-color:rgb(0, 0, 0);
   border: 4px solid #000000;
}
#grid div {border: 1px solid #f1f5f9}

.snake{background-color:darkblue; border-radius:2px;}
.apple{background-color:crimson; border-radius:50%;}
.controls{margin: 15px 0;}
.arrow{
   width: 60px;
   height: 60px; 
   font-size: 24px;
   font-weight: bold;
   margin: 4px; 
   cursor:pointer;
   background-color:#86efac; 
   border: 2px solid #c70606; 
   color: #166534;
   border-radius: 12px;
   transition: background 0.2s;
   
}
.arrow:active{background: c70606;}
#start-btn{
   padding: 12px 30px;
   background:#86efac;
   color: white; 
   border: none;
   border-radius:8px;
   font-size:18px;
   cursor:pointer;
}
